:root {
    --jaune-moutarde: #cba034;
    --bleu: #4C7AED;
}

* {
    margin: 0;
    padding: 0;
}
html, body {
    overflow-x: hidden;
}
/* poppins-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/poppins-v20-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* poppins-800 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    src: url('fonts/poppins-v20-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  @font-face {
    font-family: 'letters_for_learnersregular';
    src: url('fonts/letters_for_learners-webfont.woff2') format('woff2'),
         url('fonts/letters_for_learners-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: 'Poppins';
    font-size: 14px;
    background: url(images/fond-op.jpg) repeat;
    background-size: 70%;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}
/* ==================header================= */
#boutonsHaut {
    display: flex;
}

#inscriptionLink, #contactLink {
    width: 50%;
    padding: 8px 15px; 
    font-family: 'Poppins';
    color: black;
}
#accueilLink {
    color: white;
    background: #0b0b0b;
    width: 20%;
    padding: 8px 15px;
    font-family: 'Poppins';
    display: none;
}
#inscriptionLink {
    background-color: var(--jaune-moutarde);
    
}

#contactLink {
    background-color: var(--bleu);
    text-align: right;
}

#banner {
    background: url(images/fond-texture-bois-marron-blanc.jpg);
    background-size: 100% 75px;
    background-repeat: repeat-x;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
#banner #logoEcole {
   margin-top: -10px;
   width: 220px; 
}
#menuPrincipal #burger {
    font-size: 2.5rem;
}
#menuPrincipal {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
#menuPrincipal ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'letters_for_learnersregular';
    margin-bottom: 15px;
    line-height: 40px;
    display: none;
}

#menuPrincipal #menuMobile {
    font-size: 2rem;
    width: 80%;
    position: absolute;
    top: 50px;
    right: 45px;
    z-index: 9999;
    background-color: white;
}
#menuPrincipal #menuMobile .colonneMenu {
    display: flex;
    flex-direction: column;
}
#menuPrincipal ul li {
    transition: 0.3s;
}
#menuPrincipal ul li a {
    color: black;
}
#menuPrincipal #menuDesktop {
    font-size: 2rem;
    display: none;
}
#menuPrincipal #menuDesktop .sousMenu {
    position: absolute;
    z-index: 9999;
    background-color: white;
}
#menuPrincipal .sousMenu{
    font-size: 1.6rem;
    padding: 0 30px;
}
/*#menuPrincipal ul li:hover{
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform:scale(1.2);
    transform: scale(1.2);
} */
.on {
    font-size: 2.3rem;
    border-bottom: solid 3px var(--jaune-moutarde);
}

/* ================texte accueil=============== */
#accueil {
    width: 95%;
    display: flex;
    border: solid var(--jaune-moutarde) 3px;
    padding: 20px 15px;
    box-sizing: border-box;
    background-color: rgba(255, 255 ,255, 0.3) ;
}
#accueil #texteAccueil h1 {
    margin-bottom: 20px;
    font-family: 'letters_for_learnersregular';
    font-size: 1.8rem;
}
#accueil #texteAccueil p {
    line-height: 30px;
}
#accueil #texteAccueil #boutonAccueil {
    text-align: right;
    margin: 40px 20px 20px 0;
    
}
#accueil #texteAccueil #lienAccueil {
    color: white;
    background-color: var(--bleu);
    padding: 15px;
    border-radius: 50px;
}
#accueil img {
    display: none;
}

/* ==================agenda de l'école============= */

#agenda {
    width: 95%;
    margin: 40px auto;
}
#agenda h2 {
    font-family: 'letters_for_learnersregular';
    font-size: 2.0rem;
    margin-bottom: 20px;
}
#agenda ul {
    display: flex;
    flex-direction: column;
}
#agenda ul li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    background-color: rgba(203, 160, 52, 0.5);
    border-radius: 20px;
    padding: 10px;
     
}
#agenda ul li #masque,
#agenda ul li #porte,
#agenda ul li #ballons {
    width: 32px;
    margin-right: 15px;

}
#agenda ul li .date {
    font-weight: bold;
}
#agenda #boutonAgenda {
    text-align: right;
    margin-top: 15px;
}
#agenda #boutonAgenda #lienAgenda {
    color: white;
    background-color: var(--bleu);
    padding: 15px;
    border-radius: 50px;
}
/* ==============news=============== */
#news {
    width: 95%;
}
#news h2 {
    font-family: 'letters_for_learnersregular';
    font-size: 2.0rem;
    margin-bottom: 20px;
}
.nivo-caption {
    background: transparent;
    bottom: 20px;
    width: 50%;
    font-size: 1.3rem;
}

#news #boutonNews {
    text-align: right;
    margin-top: 15px;
}
#news #allNews {
    color: white;
    background-color: var(--bleu);
    padding: 15px;
    border-radius: 50px;
}
#news #newsGrandEcran {
    display: none;
}
#news #newsGrandEcran img {
    width: 97%;
}
#news #newsGrandEcran figure {
    position: relative;
    display: inline-block;
}
#news #newsGrandEcran figure:hover {
    transition: 0.3s;
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari et chrome */
    -moz-transform:scale(1.1); /* Firefox */
    transform: scale(1.1);
}
#news #newsGrandEcran figure #titreBelleIle,
#news #newsGrandEcran figure #titreContes {
    color: white;
    font-size: 1.1rem;
    width: 40%;
    display: block;
    position: absolute;
    bottom: 50px;
    left: 20px;
}
#news #newsGrandEcran figure #titreLipdub {
    color: black;
    font-size: 1.1rem;
    width: 40%;
    display: block;
    position: absolute;
    bottom: 50px;
    left: 20px;
}
.mouseOn {
    transition: 0.5s;
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari et chrome */
    -moz-transform:scale(1.1); /* Firefox */
    transform: scale(1.1);
}
.mouseOff {
    transition: 0.5s;
    -ms-transform: scale(0.9); /* IE 9 */
    -webkit-transform: scale(0.9); /* Safari et chrome */
    -moz-transform:scale(0.9); /* Firefox */
    transform: scale(0.9);
}
/*====================footer===================== */
#pied #bas{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    background: url(images/fond-texture-bois-marron-blanc.jpg);
    background-size: 100% 130px;
}   

#pied #bas #logo-ec,
#pied #bas #logo-gc {
    width: 100px;
}
#pied #bas .colonne {
    color: white;
    font-size: 0.8rem;
    margin-bottom: 10px;
}
#pied #bas #colonne1 {
    margin-left: 15px;
}
#pied #bas #colonne1 address{
    font-style: normal;
}
#pied #bas #colonne2 {
    margin-top: 15px;
    margin-right: 15px;
}
#pied #bas #colonne2 #blocLien {
    display: flex;
    flex-direction: column;
}
#pied #bas #colonne2 #blocLien a {
    color: white;
    margin-bottom: 10px;
}
#pied #bas #colonne2 #logo-ec {
    margin-bottom: 30px;
}

#pied #copyright {
    background-color: var(--jaune-moutarde);
    font-size: 0.8rem;
    text-align: center;
}

/* ====================page contact================= */
#titreContact {
    font-family: 'letters_for_learnersregular';
    font-size: 2rem;
    margin-left: 15px;
}
.mainContact #texteContact {
    width: 90%;
    margin: 20px auto;
    font-size: 1rem;
}
#formContact p {
    width: 90%;
    margin: 8px auto;
}
#formContact p input {
    padding: 8px 16px;
}
#formContact p:nth-of-type(1) input{
    margin-left: 8px;
}
#formContact p:nth-of-type(2) {
    display: flex;
    justify-content: space-between;
}
#formContact p:nth-of-type(2) input{
    width: 46%;
}

#formContact p:nth-of-type(3) input,
#formContact p:nth-of-type(4) input {
    width: 96.5%;
}
#formContact textarea {
    width: 100%;
    font-family: 'Poppins';
    font-size: 0.9rem;
    padding: 16px 16px;
    box-sizing: border-box;
}
#formContact p input::placeholder,
#formContact p textarea::placeholder {
    color: black;
    opacity: 1;
    font-family: 'Poppins';
    font-size: 0.9rem;
}
#formContact p input,
#formContact textarea {
   border-color: var(--jaune-moutarde);
   border-radius: 20px;
}
#formContact p input:focus {
    outline:none
}
#formContact textarea:focus {
    outline: none
}
#formContact a {
    color: black;
}
#formContact a:hover {
    text-decoration: underline;
}
#formContact .bouton {
    border: none;
    background-color: var(--bleu);
    color: white;
    font-family: 'Poppins';
}
#formContact p:nth-of-type(7) {
    text-align: right;
}
#formContact #send {
    background-color: grey;
}

/* ===================page news===================== */
#titreNews {
    font-family: 'letters_for_learnersregular';
    font-size: 2rem;
    margin-bottom: 20px;
    margin-left: 15px;
}
.grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 350px);
    gap: 10px 20px; 
    justify-content: center;
}
.grid figure img {
    width: 100%;
}
.grid figure {
    position: relative;
}
.grid figure #titreBelleIle, 
.grid figure #titreContes, 
.grid figure #titreMusique, 
.grid figure #titreRentree {
    width: 50%;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    position: absolute;
    bottom: 50px;
    left: 20px;
}
.grid figure #titreLipdub,
.grid figure #titreTennis {
    width: 50%;
    color: black;
    font-size: 1.2rem;
    font-weight: 600;
    position: absolute;
    bottom: 50px;
    left: 20px;
}
.grid figure:hover {
    transition: 0.5s;
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari et chrome */
    -moz-transform:scale(1.1); /* Firefox */
    transform: scale(1.1);
}

/* ===============page mentions légales============= */
.mainML #titreML {
    font-family: 'letters_for_learnersregular';
    font-size: 2.5rem;
    margin-left: 15px;
}
.mainML p {
    width: 90%;
    margin: 20px auto;
}
/* ===============responsive============= */
@media screen and (min-width: 768px) {
    /* =================header============= */
    #banner {
        flex-direction: row;
        align-items: flex-start;
    }
    #boutonsHaut {
        justify-content: flex-end;
    }
    #accueilLink {
        display: block;
    }
    #inscriptionLink, #contactLink {
        text-align: left;
        width: 20%;
    }
    #burger {
        display: none;
    }
    #banner #logoEcole {
        margin-left: 15px;
    }
    #menuMobile {
        display: none;
    }
    #menuPrincipal #menuDesktop #menuAccueil {
        display: none;
    }
    #menuPrincipal #menuDesktop {
        display: flex;
        flex-direction: row;
        padding-top: 20px;
    }
    #menuPrincipal #menuDesktop li {
        margin-right: 80px
    }
    #menuPrincipal #menuDesktop li a {
        color: white;
        font-size: 2.0rem;
    } 
    #menuPrincipal #menuDesktop ul li a {
        color: black;
        font-size: 1.6rem;
    }
       
    /* ================agenda================= */
    #agenda ul {
        flex-direction: row;
        justify-content: space-between;
    }
    #agenda ul li {
        width: 30%;
    }

    /* ===============footer============== */
    #pied #bas {
       justify-content: center;
    }
    #pied #bas #colonne1 {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        padding-right: 15px;
    }
    #pied #bas #colonne2 {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 15px;
    }
    #pied #bas #colonne1 img {
        padding-left: 50px;
        width: 150px;
    }
    #pied #bas #colonne2 img {
        padding-right: 50px;
        width: 150px;
    }
}

@media screen and (min-width: 992px) {
    /* ===============accueil============== */
    #accueil {
        display: flex;
        justify-content: space-between;
    }
    #accueil img {
        display: block;
        width: 55%;
    }
    
    #accueil #texteAccueil {
        width: 40%;
    }

     #news .slider-wrapper {
        display: none;
    }
    #news #newsGrandEcran {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
    }
}
