:root {
    --jaune-moutarde: #C99E34;
    --bleu: #4C7AED;
    --gris: #5A606E;
}

* {
    margin: 0;
    padding: 0;
}

/* poppins-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/poppins-v20-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* poppins-800 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    src: url('fonts/poppins-v20-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

body {
    font-family: 'Poppins';
    background: url(images/fond-op.jpg) repeat;
    background-size: 70%;
}
.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: black;
}
ul {
    list-style-type: none;
}
/* ==================header================= */
#boutonsHaut {
    display: flex;
}

#inscriptionLink, #contactLink {
    width: 50%;
    padding: 8px 16px; 
    font-family: 'Poppins';
}

#inscriptionLink {
    background-color: var(--jaune-moutarde);
    
}

#contactLink {
    background-color: var(--bleu);
    text-align: right;
}

#banner {
    height: 80px;
    background: url(images/fond-texture-bois-marron-blanc.jpg);
    background-size: 100% 75px;
    background-repeat: repeat-x;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

header #banner #logoEcole {
   position: relative;
   top: -10px;
   width: 220px;
   
}
#menuPrincipal {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#burger {
    font-size: 2.2rem;
    margin-top: -20px;
}

nav ul {
    display: none;
}



