:root {
    --jaune-moutarde: #D7AB3F;
    --bleu: #4C7AED;
}

* {
    margin: 0;
    padding: 0;
}
body {
    background-image: url(images/fond-texture-bois-marron-blanc.jpg);
    background-size:  100% 74px;
    background-repeat: no-repeat;
    background-position: 0 50px;
}

.container {
    width: 100%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: black;
}

#boutonsHaut {
    display: flex;
}

#inscriptionLink, #contactLink {
    width: 50%;
    padding: 16px;  
}

#inscriptionLink {
    background-color: var(--jaune-moutarde);
    
}

#contactLink {
    background-color: var(--bleu);
    text-align: right;
}

header #logoEcole {
    width: 223px;
    
}
